.section{
  background-color: #4cbfd9;
  padding-top: 30px;
  display: flex;
  justify-content:space-between;
}

.container{
  font-family: sans-serif;
  width: 100%;
  padding: 20px;
  text-align: center;
}