.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;

  &__body {

    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__content{
    background-color: rgb(104, 181, 255);
    padding: 40px 30px;
    border-radius: 5px;
    text-align: center;
  }
  &__input{
    display: block;
    border-radius: 3px;
    border: none;
    margin-top: 15px;
    padding: 10px;
  }
  &__btn{
    margin-top: 10px;
    padding: 5px 40px;
    background-color: rgba(94, 255, 98,0.7);
    border: none;
    border-radius: 3px;
  }
}