@import "mixins";
.form {
  background-color: rgb(104, 181, 255);
  padding: 20px 30px 0 30px;
  border-radius: 5px;
  text-align: center;
  max-width: min-content;
  margin: 0 auto;

  &__input {
    @include form-input;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    display: flex;
    padding:  0  30px 0 30px;
  }
  &__submit {
    padding: 10px 20px;

  }

  &__select-doctor{
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 5px;
  }
}
