.header{

  background-color: rgb(76, 191, 217);
  padding: 45px;
  display: flex;
  justify-content: space-between;

  &__logo{

    text-transform: uppercase;
    font-family: SansSerif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-decoration: none;

  }

  &__btn{
    padding: 10px 40px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  &__btn-create{
    padding: 5px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  &__modalWrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;

  }
  &__modal{
    text-align: center;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }
  &__doctor{
    margin-top: 50px;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    background-color: #4cbfd9;
    border: none;
  }
  &__link{
    //margin-left: -170px;
  }

  &__modal-close{
    background-color: #4cbfd9;
    padding: 9px;
    color: red;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
  }
}