@import "variables";
@mixin span {
  display: block;
}
@mixin btn{
  border: 5px $main-color solid;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: $main-color;
  border-radius: 5px;
  transition: .3s;
}
@mixin btn-hover{
  border: 5px solid $main-color;
  color: $main-color;
  background: white;
}

@mixin form-select{
  font-size: 20px;
  border: 5px solid $main-color;
  border-radius: 5px;
}
@mixin form-input {
  //font-size: 20px;
  //width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
}

