@import "mixins";
@import "variables";
.section {
  padding: 10px;
  top: 0;

  &__form-wrapper {
    //margin-bottom: 20px;
    //display: flex;
    //align-items: center;
    //position: absolute;
    //position: absolute;
    //margin-left: 350px;
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form-search {
    //font-size: 10px;
    //border: 5px solid $main-color;
    border: none;
    padding: 4px;
    border-radius: 5px;
    margin-right: 20px;
  }
  &__form-select1{
    @include form-select;
    border-radius: 5px;
      border: none;
    margin-right: 20px;
  }
  &__form-select2{
    @include form-select;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
  }
  &__form-btn{
    border: none;
    border-radius: 5px;
    @include btn;
  }
  &__form-btn:hover{
    //border: none;
    border-radius: 5px;
    @include btn-hover;
  }
}

